<div class="container-fluid p-0">
    <div class="welcome-section jumbotron hero-page d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('{{ asset('uploads/paintings/'~paintings[0].file)|imagine_filter('welcome') }}')">
        <div class="container">
            <div class="content text-center">
                <h1 class="mb-3 text-light">Jacques Monet</h1>
                <p class="fs-4 mb-5 text-light">Painter in Blagnac in the heart of Haute-Garonne</p>
                <a href="{{ path('portfolio') }}" type="button" class="btn btn-primary btn-lg">Discover my portfolio</a>
            </div>    
        </div>
    </div>
</div>