<footer>
<div class="container">
    <div class="py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-3 col-md-2 mb-3">
                <form>
                    <h5 class="text-dark pb-3">Jacques Monet</h5>
                    <p class="text-light">Painter</p>
                </form>
            </div>
            <div class="col-md-2 mb-3">
                <h5 class="text-uppercase text-dark pb-3">Menu</h5>
                <ul class="nav flex-column text-light">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Artworks</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">News</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Portfolio</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">About</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <form>
                    <h5 class="text-uppercase text-dark pb-3">Informations</h5>
                    <p class="text-light">Painter in Blagnac in the heart of Haute-Garonne.</p>
                    <p class="text-light">I make my acrylic paintings in the studio or in the middle of nature !</p>
                </form>
            </div>
            <div class="col-md-3 mb-3">
                <form>
                    <h5 class="text-uppercase text-dark pb-3">Mentions légales</h5>
                    <p class="text-light">RGPD</p>
                </form>
            </div>
        </div>
        <div class="container d-flex flex-sm-row justify-content-center py-4 my-4 border-top">
            <p>&copy; 2022 Painting., Inc. All rights reserved.</p>
        </div>
    </div>
</div>
</footer>
