{% extends "@EasyAdmin/layout.html.twig" %}

{% block content %}
    <div class="jumbotron bg-secondary p-3 m-3">
        <h1 class="text-dark">Administration</h1>
        <h4 class="text-dark">Welcome to the administration interface of your website !</h4>
    </div>
{% endblock %}