{% extends 'base.html.twig' %}

{% block title %}Paintings - Painting
{% endblock %}

{% block body %}
    <section class="details-section bottom-line mb-2">
        <div class="pt-8 pt-md-11">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-9 col-xl-8">
                        <h1 class="display-5 mb-5 text-center">
                            {{ blogpost.title }}
                        </h1>
                        <div class="row aligns-items-center py-5 border-top border-dark border-bottom">
                            <div class="col-auto">
                            </div>
                            <div class="col ms-5">
                                <time class="fs-sm text-muted" datetime="2019-05-20">
                                    Published at {{ blogpost.createdAt|date('d/m/Y') }}
                                </time>
                            </div>
                        </div>
                    </div>            
                </div>
            </div>
        </div>
        <div class="pt-5 mt-4 pt-md-8">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-9 col-xl-8">
                        <p class="mb-6">{{ blogpost.content}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}